.header {
    color: #71aaeb;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    background-color: #424242;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(16, 23, 23, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(16, 23, 23, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(16, 23, 23, 0.2);
}
.wrapper {
    display: flex;
}
h3 {
    width: 100%;
    padding: 15px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image {
    width: 80%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    outline: 1px solid bisque;
}
.btn {

}
