.header {
    color: #71aaeb;
}
h3 {
    width: 100%;
    margin-bottom: auto;
}
.item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: #424242;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.image {
    width: 80%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    width: 50%;
    border: 2px solid gray;
    border-radius: 5px;
    color: #e1e3e6;
    background-color: transparent;
    padding: 5px 10px;
    transition: .3s ease;
}
.button:hover {
    cursor: pointer;
    color: #292929;
    background-color: #e1e3e6;
}