* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.myinput {
    outline: none;
    border: 2px solid black;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 24px;
    max-height: 30px;
}
.myinput:focus {
    outline: 0;
}