.btn {
    border: 2px solid black;
    border-left-width: 1px;
    max-height: 30px;
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    color: #fff;
    cursor: pointer;
}
